<h1>Manage ID & Password</h1>

<button type="button" onclick="location.href='/passes/new'">New</button>

<table>
    <tr>
        <th>Site</th>
        <th>Mail Address</th>
        <th>Password</th>
    </tr>
    <% @passes.each do |pass| %>
    <tr>
        <td><%= pass.site %></td>
        <td><%= pass.mail %></td>
        <td><%= pass.pass %></td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
    </tr>
    <% end %>
</table>
