<h1>Manage ID & Password</h1>

<button type="button" onclick="location.href='/passes/new'">New</button>

<table>
    <tr>
        <th>Site</th>
        <th>Mail Address</th>
        <th>Password</th>
    </tr>
    <%# %>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
    </tr>
    <%#= end %>
</table>
