<h1>Account Detail</h1>

<table>
    <tr>
        <th>Site</th>
        <td><%= @account.site %></td>
    </tr>
    <tr>
        <th>Mail Address</th>
        <td><%= @account.mail %></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><%= @account.pass %></td>
    </tr>
</table>
